@import "tailwindcss";

body{
  margin: 0;
  background-color: black;
  scroll-behavior: smooth;    
}

.inter{
  font-family: 'inter',sans-serif;
}

.poppins{
  font-family: 'Poppins',sans-serif;
}

.text-stroke {
  color: transparent;
  -webkit-text-stroke: 2px white;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}